<%= javascript_include_tag('math') %>

<%= form_for @troop do |f| %>
  <% if @troop.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@troop.errors.count, "error") %> prohibited
      this troop from being saved:</h2>
    <ul>
    <% @troop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<!-- <p>
  <%= f.label :Type_Of_Troop %><br>
  <%= f.text_field :typeoftroop %>
</p> -->

<div class="row-fluid">
  <div class="col-lg-6">
    <select id = "typeSelect">
      <option value="Barbarian" selected="selected">Barbarian</option>
      <option value="Archer">Archer</option>
      <option value="Goblin">Goblin</option>
      <option value="Giant">Giant</option>
      <option value="Wall Breaker">Wall Breaker</option>
      <option value="Balloon">Balloon</option>
      <option value="Wizard">Wizard</option>
      <option value="Healer">Healer</option>
      <option value="Dragon">Dragon</option>
      <option value="PEKKA">PEKKA</option>
    </select>
    <br><br>
    <%= f.label :level %><br>
    <%= f.text_field :level %>
    <br>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
    <br>
    <%= f.label :Training_Cost %><br>
    <%= f.text_field :costToTrain %>
  </div>
  <div class="col-lg-6">
    <div class="row-fluid">
      <div class="col-lg-12 text-center">
        <%= f.submit "Add Troop", :class=> "btn btn-success" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-lg-12 text-center" style="margin-top: 20px;">
        <%= link_to 'Back', troops_path, :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<p id="hiddenTroopType">
  <%= f.text_field :typeoftroop %>
</p>
<script>
$('document').ready(function(){
  $('#hiddenTroopType').hide();
})
  $('[type="text"]').change(function(){
    var typeTroop = $('#typeSelect').val();
    var levTroop = parseInt($('#troop_level').val());
    var quantityTroops = parseInt($('#troop_quantity').val());
    var finalCost = calcCost(typeTroop, levTroop, quantityTroops);
    $('#troop_costToTrain').val(finalCost);
    $('#troop_typeoftroop').val($('#typeSelect').val());
  });
</script>
<% end %>