<h1>Newest ready to ride or die troops</h1>
<p>
  <strong>Type:</strong>
  <%= @troop.typeoftroop %>
</p>
 
<p>
  <strong>Quantity:</strong>
  <%= @troop.level %>
</p>

<p>
  <strong>Level:</strong>
  <%= @troop.quantity %>
</p>

<p>
  <strong>Cost To Train:</strong>
  <%= @troop.costToTrain %>
</p>
<%= link_to 'Back', troops_path %>